@charset "utf-8";

/* 背景設定 */
body
{
    text-align: center;
    background-color: rgb(1, 100, 1);
    color: white;
    font-size: 20px;
    font-family: Hiragino Mincho Pro;
}
/* タイトルの文字設定 */
h1
{
    font-family: Hiragino Mincho Pro;
    font-size: 50px;
}

/* ボタン */
.btn-circle-border-double 
{
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: double 4px rgb(1, 100, 1);
    text-align: center;
    overflow: hidden;
    transition: .6s;
}
  
  .btn-circle-border-double:hover 
  {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

/* 画面上下分割 */
/* 分割コマンド背景は赤(ビロード) */
#bet_box
{
    margin: auto;
    width: 49%;
    height: 250px;
    font-size: 20px;
    background-color: rgb(109, 2, 2);
}

#player_box
{
    margin: auto;
    width: 49%;
    height: 200px;
    font-size: 20px;
    background-color: rgb(109, 2, 2);
}

#dealer_box
{
    margin: auto;
    font-size: 20px;
    height: 200px;
    width: 49%;
    background-color: rgb(109, 2, 2);
}

#result_box
{
    margin: auto;
    font-size: 20px;
    height: 200px;
    width: 49%;
    background-color: rgb(109, 2, 2);
}

